
@font-face {
    font-family: 'montdark';
    src: url('webfontkit/mont-heavy-webfont.woff2') format('woff2'),
         url('webfontkit/mont-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montblack';
    src: url('webfontkit/mont-black-webfont.woff2') format('woff2'),
         url('webfontkit/mont-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montbold';
    src: url('webfontkit/mont-bold-webfont.woff2') format('woff2'),
         url('webfontkit/mont-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.capacit {
	font-family: "montdark";
}

html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
	margin: 0;
	color: #0a183d;
	font-weight: 600;
	line-height: 1;
}

h1 {
	font-size: 70px;
}

h2 {
	font-family: "montbold", sans-serif;
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	color: #6a7080;
	line-height: 1.8;
	font-weight: 500;
}

img {
	max-width: 100%;
}


input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
Helper CSS
 -----------------------*/

.section-title {
	margin-bottom: 30px;
}

.section-title h2 {
	font-size: 40px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 70px;
	padding-bottom: 50px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
Commom elements
 -----------------------*/

/* buttons */

.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 500;
	min-width: 195px;
	padding: 23px 20px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #d7d89d;
	color: rgb(26, 29, 65);
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.sb-c2 {
	background: #383b70;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: rgb(8, 13, 36);
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #7fe087;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #ced38f;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #974848;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #7fe087;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #ced38f;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #974848;
		border-left-color: transparent;
	}
}

/*------------------
Header section
 ---------------------*/

.header-section {
	padding-left: 55px;
	padding-right: 72px;
	background: #ffffff;
}

.site-logo {
	width: 20%;
	height: auto;
	display: inline-block;
	padding: 0;
	padding: 15px 2px;
}

.header-right {
	float: right;
	padding: 44px 0;
	margin-left: 130px;
}

.header-right .hr-btn {
	display: inline-block;
	color: #979aa5;
}

.header-right .user-panel {
	display: inline-block;
}

.header-right .user-panel a {
	font-size: 20px;
	color: #ffffff;
	margin: 0 10;
}

.header-right .user-panel .register {
	color: #1f1e50;
	margin-right: 0;
}

.header-right span {
	color: #fff;
	display: inline-block;
	padding-left: 9px;
}

.main-menu {
	list-style: none;
	float: right;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: block;
	font-size: 20px;
	color: #16183f;
	padding: 35px 10px;
	margin-left: 60px;
}

.main-menu li a:hover {
	color: #b1ac6e;
}

.main-menu li:first-child a {
	margin-left: 0;
}

.main-menu li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 60px;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: rgb(255, 255, 255);
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

.main-menu .sub-menu li {
	display: block;
}

.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-left: 0;
	padding: 5px 20px;
}

.main-menu .sub-menu li a:hover {
	color: #b1b371;
}

.slicknav_menu {
	display: none;
}

/*------------------
Hero section
 ---------------------*/

.hero-section {
	overflow: hidden;
}

.hs-item {
	height: 500px;
	padding-bottom: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #0a183d;
}

.hs-item h2 {
	color: rgb(255, 255, 255);
	font-size: 67px;
	margin-bottom: 25px;
	line-height: 0.9;
	position: relative;
	top: 10px;
	opacity: 0;
}

.hs-item h2 span {
	color: #e2e489;
}

.hs-item p {
	color: #ffffff;
	opacity: 0.6;
	margin-bottom: 20px;
	position: relative;
	top: 10px;
	opacity: 0;
}

.hs-item .site-btn {
	position: relative;
	top: 10px;
	margin-bottom: 20px;
	opacity: 0;
}

.hs-item .sb-c2 {
	margin-left: 8px;
}

.hs-item .hs-text {
	padding-top: 10px;
	max-width: 475px;
}

.hr-img img {
	width: 80%;
	height: auto;
	min-width: 502px;
	position: relative;
	left: -14px;
	top: 20px;
	opacity: 0;
}

.owl-item.active .hs-item img,
.owl-item.active .hs-item h2,
.owl-item.active .hs-item p,
.owl-item.active .hs-item .site-btn,
.owl-item.active .hs-item .site-btn.sb-c2 {
	top: 0;
	opacity: 1;
}

.owl-item.active .hs-item img {
	-webkit-transition: all 1.5s ease 0.2s;
	transition: all 1.5s ease 0.2s;
}

.owl-item.active .hs-item h2 {
	-webkit-transition: all 1.5s ease 0.4s;
	transition: all 1.5s ease 0.4s;
}

.owl-item.active .hs-item p {
	-webkit-transition: all 1.5s ease 0.6s;
	transition: all 1.5s ease 0.6s;
}

.owl-item.active .hs-item .site-btn {
	-webkit-transition: all 1.5s ease 0.8s;
	transition: all 1.5s ease 0.8s;
}

.owl-item.active .hs-item .site-btn.sb-c2 {
	-webkit-transition: all 1.5s ease 1s;
	transition: all 1.5s ease 1s;
}

.hero-slider .owl-dots {
	position: absolute;
	bottom: 33px;
	left: calc(50% - 588px);
	max-width: 1176px;
	width: 100%;
	padding-left: 15px;
}

.hero-slider .owl-dots .owl-dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #383b70;
	margin-right: 10px;
}

.hero-slider .owl-dots .owl-dot.active {
	background: #e2db99;
}

/* ----------------
Intro section
 -------------------*/

.intro-section p {
	margin-bottom: 35px;
	padding-top: 10px;
}

/* ----------------

 section
 -------------------*/

.how-section {
	background-color: #ffffff;
}

.how-item .hi-icon {
	position: relative;
	padding-top: 2px;
	width: 47px;
	height: 47px;
	border-radius: 50%;
	background: #e6e7b7;
	margin-bottom: 20px;
}

.how-item .hi-icon img {
	width: 40px;
	height: auto;
	position: absolute;
	right: -8px;
	bottom: 0;
}

.how-item h4 {
	margin-bottom: 15px;
}

.how-item p {
	color:#525252;
	font-weight: 400;
	opacity: 0.6;
}

/* ----------------
About section
 -------------------*/
.about-block {
	padding-top: 1%;
 	min-height: 400px;
 	background-color: #0a183d;
}
.about-header {
	font-size: 20px;
	text-align: center;
	align-self: center;
}

.mission-text {
	width: 65%;
	font-size: 10px;
	padding-top: 15px;
	color: white;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
	float: center;
}
.link-pic {
	width: 80px;
	height: auto;
	margin-left: 30px;
	margin-right: 30px;
}

.started-links {
	display:flex;
	align-items: center;
  	justify-content: center;
	text-align: center;
}
.thicc-parent {
	text-align: center;
}

.pic-row {
	line-height: 90%;
	text-align: center;
	padding-right: 80px;
	margin: auto;
	width:960px;
	}

.our-team {
	padding-bottom: 20px;
}	

.facepic {
	display: inline-block;
	margin-left: 0px;
	margin-right: 80px;
	padding-bottom: 10px;
	width: 100px;
	height:auto;
}
.pic-desc{
	display: inline-block;
	align-items: center;
	overflow:hidden;
	text-align: center;
	margin: auto;
	width: 170px;
	height: auto;
}




/* ----------------
Responsive
 -------------------*/

.footer-section {
	background: #ffffff;
	padding: 40px 0 85px;
}

.footer-widget {
	padding-top: 0px;
}

.footer-widget h2 {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget ul li a {
	display: inline-block;
	color: #6a7080;
	font-size: 14px;
	margin-bottom: 10px;
}

.social-links a {
	display: inline-block;
	color: #6a7080;
	font-size: 18px;
	margin-right: 35px;
}

/* ----------------
Other pages
 -------------------*/

/* ----------------
Map page
 -------------------*/
.map-body {
	border-top: solid;
	border-bottom: solid;
	background: #ffffff;
	min-height: 450px;
}

#map {
	min-height: 494px;
	height: 100%;
	width: 100%;
}

.right-side {
	padding-top: 0px;
}

.datatable {
	color: #0a183d;
} 
.tabs {
	padding: 8px;
}

#selected {
	background-color: grey;
}





/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-section {
		padding-left: 15px;
		padding-right: 20px;
	}
	.header-right {
		margin-left: 20px;
	}
	.main-menu li a {
		margin-left: 15px;
	}
	.main-menu .sub-menu {
		left: 15px;
	}
	.hr-img img {
		min-width: 480px;
		position: relative;
	}
	.sub-list {
		padding: 70px 15px 50px 90px;
	}
	.contact-warp {
		padding: 100px 15px 60px 40px;
	}
	.category-item {
		margin: 0;
	}
	.category-section {
		padding: 100px 0;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hr-img {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		margin-top: -60px;
	}
	.slicknav_nav {
		background: #1c294a;
		margin-bottom: 35px;
	}
	.slicknav_nav ul {
		margin: 0 0 0 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 12px 25px;
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		color: #fc0254;
		background: transparent;
	}
	.slicknav_btn {
		position: relative;
		top: -24px;
		background: #1c294a;
	}
	.main-menu {
		display: none;
	}
	.header-right {
		display: none;
	}
	.header-right-warp .header-right {
		display: block;
		float: none;
		padding: 0 0 24px;
		margin-left: 0;
	}
	.header-right-warp .header-right span {
		display: none;
	}
	.header-right-warp .header-right .user-panel {
		display: block;
		padding-left: 26px;
	}
	.header-right-warp .header-right .user-panel a {
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	.header-right-warp .header-right .user-panel a:hover {
		background: transparent;
	}
	.header-right-warp .header-right .user-panel .login {
		padding-right: 10px;
	}
	.sub-text {
		margin-bottom: 50px;
	}
	.footer-widget {
		margin-bottom: 40px;
	}
	.tarck-thumb-warp {
		width: 100%;
	}
	.tarck-thumb-warp .tarck-thumb {
		margin: 0 auto;
	}
	.category-item {
		margin: 0;
	}
	.category-item .ci-link {
		top: 26px;
		bottom: auto;
	}
	.category-item .ci-text {
		position: absolute;
		bottom: 10px;
		left: 20px;
	}
	.map {
		height: 450px;
	}
	.song-details-box ul {
		max-width: 100%;
	}
	.search-form {
		margin-top: 40px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.hr-img {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		margin-top: -60px;
	}
	.slicknav_nav {
		background: #1c294a;
		margin-bottom: 35px;
	}
	.slicknav_nav ul {
		margin: 0 0 0 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 12px 25px;
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		color: #fc0254;
		background: transparent;
	}
	.slicknav_btn {
		position: relative;
		top: -24px;
		background: #1c294a;
	}
	.main-menu {
		display: none;
	}
	.header-right {
		display: none;
	}
	.header-right-warp .header-right {
		display: block;
		float: none;
		padding: 0 0 24px;
		margin-left: 0;
	}
	.header-right-warp .header-right span {
		display: none;
	}
	.header-right-warp .header-right .user-panel {
		display: block;
		padding-left: 26px;
	}
	.header-right-warp .header-right .user-panel a {
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	.header-right-warp .header-right .user-panel a:hover {
		background: transparent;
	}
	.header-right-warp .header-right .user-panel .login {
		padding-right: 10px;
	}
	.sub-list {
		padding: 60px 15px 50px 30px;
	}
	.sub-text {
		margin-bottom: 50px;
	}
	.footer-widget {
		margin-bottom: 40px;
	}
	.tarck-thumb-warp {
		width: 100%;
	}
	.tarck-thumb-warp .tarck-thumb {
		margin: 0 auto;
	}
	.category-section {
		padding: 105px 0;
	}
	.category-section .container {
		max-width: 100%;
	}
	.header-section {
		padding: 0 10px;
	}
	.category-item {
		margin: 0 0 30px;
	}
	.map {
		height: 450px;
	}
	.contact-warp {
		padding: 100px 40px;
	}
	.songs-links {
		text-align: left;
		padding-top: 40px;
	}
	.song-details-box ul {
		max-width: 100%;
	}
	.search-form {
		margin-top: 40px;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.section-title h2,
	.hs-item h2,
	.sub-text h2 {
		font-size: 26px;
	}
	.header-section {
		padding: 0;
	}
	
	.contact-warp {
		padding: 100px 15px;
	}
	.category-item .ci-link {
		top: 26px;
		bottom: auto;
	}
	.category-item .ci-text {
		position: absolute;
		bottom: 10px;
		left: 20px;
	}
	
	.jp-duration {
		bottom: -31px;
	}
	.social-links a {
		margin-right: 20px;
	}
	.search-form {
		text-align: center;
	}
	.search-form input {
		padding-right: 41px;
	}
	.search-form button {
		position: relative;
		margin-top: 20px;
	}
}